# Mac
.DS_Store
# .env use .env.example for reference
.env
# added by composer
/vendor/
#
# log.txt # has been moved
/uploads/
/logs/
/db_backup/

# ms word
~$cumentation.docx
~$l fields no excel connection delfin.docx
~$l fields delfin.docx

# ms excel
~$excel database delfin.xlsx


