#version: "3.1"
services:
  #webapp:
    #environment:
      #- DEBUG=true
      #- env_file: ".env"
  db:
    image: "${MYSQL_IMAGE}"
    container_name: "${MYSQL_CONTAINER_NAME}"
    restart: always
    environment:
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
    ports:
      - "${MYSQL_PORTS}"
  phpmyadmin:
    image: "${PMA_IMAGE}"
    container_name: "${PMA_CONTAINER_NAME}"
    restart: always
    environment:
      PMA_HOST: "${PMA_HOST}"
      PMA_USER: "${PMA_USER}"
      PMA_PASSWORD: "${PMA_PASSWORD}"
    ports:
      - "${PMA_PORTS}"
  #php-apache-environment:
    #container_name: php-apache
    #environment:
      #- max_upload=100M
    #build:
      #context: ./php
      #dockerfile: dockerfile
    #volumes:
      #- ./php/src:/var/www/html/ #Path to folder in windows : Path to folder in Linux
    #ports:
      #- 8000-8010:8000-8010
  #wordpress:
    #image: wordpress:latest
    #restart: always
    #ports:
      #- 80:80
    #environment:
      #WORDPRESS_DB_HOST: db
      #WORDPRESS_DB_USER: root
      #WORDPRESS_DB_PASSWORD: root
      #WORDPRESS_DB_NAME: wordpress
    #volumes:
      #- wordpress:/var/www/html
#volumes:
  #db:
  #wordpress:
