#version: "3.1"
name: "${APP_NAME}"
services:
  #webapp:
  mysql:
    image: "${MYSQL_IMAGE}"
    container_name: "${COMPOSE_PROJECT_NAME}${MYSQL_CONTAINER_EXTENSION}"
    restart: "${MYSQL_RESTART}"
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    ports:
      - "${MYSQL_PORTS}"
  phpmyadmin:
    image: "${PMA_IMAGE}"
    container_name: "${COMPOSE_PROJECT_NAME}${PMA_CONTAINER_EXTENSION}"
    restart: "${PMA_RESTART}"
    environment:
      PMA_HOST: "${PMA_HOST}"
      PMA_USER: "${PMA_USER}"
      PMA_PASSWORD: "${PMA_PASSWORD}"
    ports:
      - "${PMA_PORTS}"
  php-apache-environment:
    image: "php:8.2-apache"
    container_name: php-apache
    #restart: always
    environment:
      - max_upload=100M         #

    volumes:
      - ./php/src:/var/www/html/ # Path to folder in windows : Path to folder in Linux
    ports:
      - 80:80                   #
      # - 8000-8010:8000-8010
    build:
      context: ./php
      dockerfile: dockerfile    # extensions install
  #wordpress:
    #image: wordpress:latest
    #restart: always
    #ports:
      #- 80:80
    #environment:
      #WORDPRESS_DB_HOST: db
      #WORDPRESS_DB_USER: root
      #WORDPRESS_DB_PASSWORD: root
      #WORDPRESS_DB_NAME: wordpress
    #volumes:
      #- wordpress:/var/www/html
volumes:
  mysql:
  phpmyadmin:
  php-apache-environment:
  #wordpress:
