* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Desktop First (sorry everyone)

body {
  // https://coolors.co/contrast-checker/0c1730-d4cacf
  background-color: #d4cacf;
  color: #0c1730;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif; // unifies the fonts across all pages
}

// header navbar
header {
  text-align: center;
  // margin: auto;
  margin-top: 5px;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    li {
      // display: inline-block;
      padding: 1px 25px; // top+bottom - left+right
      margin: 0px 50px;
      a {
        text-decoration: none;
        color: #1cafb4;
        font-family: "Times New Roman", Times, serif;
        font-size: 3rem;
        i {
          padding-right: 10px;
        }
      }
    }
  }
  hr {
    width: 100vw;
    margin-top: 2px;
  }
}

// footer
footer {
  // display: flex;
  a {
    text-decoration: none;
    color: #e61eec;
  }
}

// bigger text boxes for file upload's custom msg
.email_subject {
  width: 512px;
}
.email_body {
  width: 1024px;
}
// strong{
// color: aqua;
// }

// tables
.table-wrapper {
  // overflow-y: auto;
  // overflow-x: hidden;
  overflow: auto;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  margin: 5px;
  position: relative;
  padding: 5px;
  // border: 1px solid;
  z-index: 100;
  background-color: rgba($color: #ffffff, $alpha: 0.01);
}
table {
  border: 1px solid;
  border-radius: 1px;
}
table {
  text-align: center; // centers everything in the table
  caption {
    // position: sticky;
    // top: 0;
    background: #81ec1e;
    font-size: 2rem;
    z-index: 101;
    // text-align: center;
  }
}
table {
  thead {
    tr {
      position: sticky;
      top: calc(
        0px - 5px
      ); //! I need to substract the padding of the table wrapper class
      background-color: rgba(110, 235, 155, 0.99);
      z-index: 105; //
      th {
        padding: 10px;
        font-size: 0.95rem;
      }
    }
  }
}
table {
  tbody {
    tr {
      font-size: 1rem;
      td {
        padding: 10px;
        font-size: 0.9rem;
      }
    }
  }
}

// // 1 is odd and the first entry
// tbody tr:nth-child(odd) {
//   background-color: rgba(100, 100, 100, 0.5);
// }
// tbody tr:nth-child(even) {
//   background-color: rgba(200, 200, 200, 0.5);
// }

// tri - colours -> (3n) can be written as (3n+3) or (3n+0) ; it's actually the last one loaded
tbody tr:nth-child(3n + 1) {
  background-color: rgba(200, 200, 200, 0.5);
}
tbody tr:nth-child(3n + 2) {
  background-color: rgba(185, 185, 180, 0.5);
}
tbody tr:nth-child(3n + 3) {
  background-color: rgba(170, 170, 170, 0.5);
}

// special cell styling
// for users that have this flag set
.duplicateUser {
  td {
    background-color: rgba(255, 165, 0, 0.8);
  }
}
// styling of gui table
// important overwrittes the duplicateUser class
.spacer {
  background-color: rgba(220, 220, 220, 1) !important;
}
.kick {
  background-color: rgb(95, 128, 19) !important;
  color: #a12e1a;
}
.delete {
  background-color: rgba(250, 1, 1, 1) !important;
  color: #0a1a3d;
}

//? also using this as a base for the delete thingy
// kick symbol span clickable "button"
.kick-symbol,
.delete-symbol {
  cursor: pointer;
  font-size: 1.025rem;
}
// animation
.kickedMessage,
.deleteMessage {
  position: fixed; // this prevents it to become as tall as my table
  top: 75px;
  right: 20px;
  padding: 10px;
  background-color: #a12e1a;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  z-index: 105; // i already use a z-index
  opacity: 1; // 100%
  transition: opacity 1.25s ease-in-out;
}
.kickedMessage.fade-out,
.deleteMessage.fadeout {
  opacity: 0; // 0%
}

// loading screen with animation
#loadingScreen {
  display: none; //? is hidden by default ; but i need js to do that some
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 151; // this should be above everything;  MEW
}

#loadingScreenAnimation {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//

.specific-error-msg-file-upload {
  color: #ff553d;
  font-size: 1.555rem;
  text-decoration: underline;
  margin-top: 8px;
  margin-bottom: 2px;
}

//

.general-wrapper {
  margin: 10px;
  padding: 2px;
  //
}

// delfin.php button styling -> will be a bit like divs
.list-button,
.edit-button,
.edit-entire-db-button,
.import-csv-button {
  padding: 5px;
  height: 66px;
  width: 200px;
  margin-bottom: 15px;
  border: #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.251rem;
  color: #010101;
}

.list-button:hover,
.edit-button:hover,
.edit-entire-db-button:hover,
.import-csv-button:hover,
#button-yourself:hover,
#your-log:hover {
  background-color: #81ec1e;
  color: #000;
  transition: 0.251s ease-in-out; // animation
}

.list-button {
  background-color: #3498db;
}

.edit-button {
  background-color: #ff553d;
  width: 80px;
}

.edit-entire-db-button {
  background-color: #741616;
  color: #fff3cd;
}

.import-csv-button {
  margin-top: 5px;
  opacity: 0.666; // gives it an effect
  background-color: #d3d3d3;
  color: #a0a0a0;
  cursor: not-allowed;
}

#button-yourself {
  background-color: #2ebeab;
}

#your-log {
  background-color: #924e0e;
  color: #f1f1f1;
}

// this form box positioning
.side-by-side-form {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.left-side-form,
.left-middle-side-form,
.right-middle-side-form .right-side-form {
  padding: 0px;
}
.rest-of-the-form {
  display: flex;
  gap: 25px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  border-top: 1px solid #010101;
  border-radius: 1px;
  justify-content: space-between;
  em {
    margin-left: 5px;
  }
}

.landing-page-h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  padding-bottom: 5px;
}

// switch between email and letter mode
.function-mode-switcher {
  display: inline-flex; // inline flex prevents the border from going across the entire horizontal plane
  align-items: center;
  gap: 45px;
  font-size: 1.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  border: 1px solid #010101;
  border-radius: 15px;
  padding: 5px;
  h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  button {
    margin: auto;
    padding: 5px;
    border: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.251rem;
    color: #010101;
    background-color: rgba($color: #f0f0f0, $alpha: 1);
  }
  //
  margin-left: 1px !important; //? this overwrites everything, yes i somehow am off by a single pixel
}

// styling of file upload error messages
.function-file-upload-error-messages {
  margin-left: 1px !important; //? this overwrites everything, yes i somehow am off by a single pixel
  h2 {
    color: rgb(250, 45, 20);
  }
}

// file upload article
.upload-file-form-wrapper {
  // margin-left: 5px;
  margin-top: 12px;
  padding-left: 5px;
  h3 {
    font-size: 2rem;
    margin-bottom: 6px;
    margin-left: -5px;
    padding-left: 0px;
    margin-top: -6px;
    padding-left: 10px;
  }
}

// enable db editing button
.editButton,
.editButtonAlpha {
  background-color: rgba(174, 40, 201, 0.95);
  color: #d4cacf;
  height: auto;
  padding: 5px;
  display: block;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 6px;
  z-index: 101;
  // border: 1px dotted;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
.editButtonAlpha {
  display: none; // i use js to make it visible
  // cursor: not-allowed;
  background-color: rgba(232, 227, 233, 0.95);
  color: #0f0f0f;
}

.other-general-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 5px;
}

// index.php

.index_login,
.index_support,
.index_header {
  display: block;
  margin: 1px;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5rem;
  text-align: center;
  // background-color: rgba(110, 235, 155, 0.99);
  width: 379px;
}

.index_header {
  font-size: 2rem;
  margin-bottom: -10px;
  color: #0F0F0F;
  letter-spacing: 1px;
}

.index_login {
  background-color: rgba(255, 165, 0, 0.75);
}
.index_login:hover {
  background-color: rgba(255, 165, 100, 0.95);
}

.index_support {
  background-color: rgba(178, 192, 51, 0.95);
}
.index_support:hover {
  background-color: rgba(178, 192, 151, 0.75);
}

// generate_hash.php
.support_page-wrapper {
  // display: flex;
  // margin: auto;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  width: 911px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
  * {
    margin-bottom: 5px; // this targets any&all element in here
  }
  div {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  h1 {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 10px;
  }
  article {
    text-align: center;
    justify-content: center;
    margin-right: 1px;
    a,
    a:visited,
    a:hover,
    a:active {
      color: rgb(20, 62, 201);
    }
    strong {
      text-decoration: none;
    }
  }
  .generate-hash-form {
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    display: flex;
    gap: 15px;
    * {
      padding: 15px;
      border-radius: 15px;
      border: none;
      background-color: rgba(153, 155, 229, 0.751);
      color: #fefefe;
      text-align: left;
    }
    label {
      background-color: rgba($color: #ffffff, $alpha: 0);
    }
    input[type="username"] {
      color: rgb(15, 15, 15);
    }
    input[type="submit"] {
      color: rgb(19, 19, 19);
    }
    input[type="submit"]:hover {
      cursor: pointer;
    }
  }
  strong {
    color: #222222;
    text-decoration: dotted underline;
  }
  border: 1px solid #010101;
  padding: 15px;
  border-radius: 25px;
  hr {
    margin: auto -15px;
  }
  background-color: rgba(251, 251, 251, 0.251);
}

// login page
.login-article {
  background-color: rgba(240, 220, 210, 0.666);
  margin: 15px;
  padding: 15px;
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
  gap: 15px;
  font-size: 1.501rem;
  border-radius: 15px;
  border: 1px solid inherit;
  form {
    * {
      padding: 10px;
      align-items: center;
      margin: 1px;
      justify-content: center;
    }
    label {
      margin: 0;
      padding: 0;
    }
    input {
      background-color: #f1f1f1;
      border: none;
      border-radius: 10px;
    }
    input[type="submit"]:hover {
      cursor: pointer;
    }
  }
}

.login-error {
  color: #ff553d;
  font-size: 2.001rem;
  margin-bottom: 1px;
  text-align: center;
  text-decoration: underline;
}

// file upload
.file_upload-wrapper {
  display: inline-block;
  margin-left: 25vw;
  margin-top: 5px;
  padding: 5px;
  div {
    background-color: rgba($color: #bdb5b5, $alpha: 0.251);
    border: 1px solid #010101;
    border-radius: 5px;
    padding: 5px;
    margin: -5px; // I need to to substract the padding to keep everything aligned
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
  }
}

#heavyFormSubmission {
  border: 1px solid #010101;
  border-radius: 5px;
  padding: 5px;
  margin: -5px; // I need to to substract the padding to keep everything aligned
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba($color: #958e8e, $alpha: 0.251);
  padding-left: 10px;
  // 
  input[type="file"], input[type="submit"] {
    background-color: #EBE0EF;
    border-radius: 10px;
    padding: 5px;
    margin-top: 6px;
    border: 1px solid rgba($color: #FFFFFF, $alpha: 0.151);
  }
  input[type="file"]:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: #FF553D;
  }
  input[type="text"] {
    background-color: #F0F0F0;
    color: #000000;
    padding: 2px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 5px;
    border: 1px solid rgba($color: #FFFFFF, $alpha: 0.151);
  }
  input[type="submit"]:hover {
    background-color: #81EC1E;
  }
  input[type="text"]:hover {
    background-color: #FFFFFF;
  }
}



