* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Desktop First (sorry everyone)

body {
  // https://coolors.co/contrast-checker/0c1730-d4cacf
  background-color: #d4cacf;
  color: #0c1730;
  font-size: 1.2rem;
}

// header navbar
header {
  text-align: center;
  // margin: auto;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    li {
      // display: inline-block;
      padding: 1px 25px;  // top+bottom - left+right
      margin: 0px 50px;
      a {
        text-decoration: none;
        color: #1cafb4;
        font-family: 'Times New Roman', Times, serif;
        font-size: 3rem;
        i {
          padding-right: 10px;
        }
      }
    }
  }
  hr {
    width: 100vw;
  }
}

// footer
footer {
  // display: flex;
  a {
    text-decoration: none;
    color: #e61eec;
  }
}

// bigger text boxes for file upload's custom msg
.email_subject {
  width: 512px;
}
.email_body {
  width: 1024px;
}
// strong{
// color: aqua;
// }

// tables
.table_wrapper {
  overflow-y: auto;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  margin: 5px;
  position: absolute;
  padding: 5px;
  // border: 1px solid;
  z-index: 100;
  background-color: rgba($color: #ffffff, $alpha: 0.01);
}
table {
  border: 1px solid;
  border-radius: 1px;
}
table {
  text-align: center;   // centers everything in the table
  caption {
    // position: sticky;
    // top: 0;
    background: #81ec1e;
    font-size: 2rem;
    // z-index: 101;
    // text-align: center;
  }
}
table {
  thead {
    tr {
      position: sticky;
      top: 0-5; //! I need to substract the padding of the table wrapper class
      background-color: rgba(110, 235, 155, 0.99);
      th {
        padding: 10px;
        font-size: 0.95rem;
      }
    }
  }
}
table {
  tbody {
    tr {
      font-size: 1rem;
      td {
        padding: 10px;
        font-size: 0.9rem;
      }
    }
  }
}

// // 1 is odd and the first entry
// tbody tr:nth-child(odd) {
//   background-color: rgba(100, 100, 100, 0.5);
// }
// tbody tr:nth-child(even) {
//   background-color: rgba(200, 200, 200, 0.5);
// }

// tri - colours -> (3n) can be written as (3n+3) or (3n+0) ; it's actually the last one loaded
tbody tr:nth-child(3n + 1) {
  background-color: rgba(200, 200, 200, 0.5);
}
tbody tr:nth-child(3n + 2) {
  background-color: rgba(185, 185, 180, 0.5);
}
tbody tr:nth-child(3n + 3) {
  background-color: rgba(170, 170, 170, 0.5);
}

// special cell styling
// for users that have this flag set
.duplicateUser {
  td {
    background-color: rgba(255, 165, 0, 0.8);
  }
}
// styling of gui table
// important overwrittes the duplicateUser class
.spacer {
  background-color: rgba(220, 220, 220, 1.0) !important;
}
.kick {
  background-color: rgb(95, 128, 19) !important;
  color: #a12e1a;
}
.delete {
  background-color: rgba(250, 1, 1, 1.0) !important;
  color: #0a1a3d;
}


